{% if EVENTS_LIST %}
    <br>
    <ul id="events_list">
        {% for event in EVENTS_LIST %}
            <li>
                <h4>Вечеринка <b>{{ event.date }}, {{ event.time }}</b></h4>
                <h5>Организатор {{ event.creator }}</h5>
                <h5>Место: <b>{{ event.get_location }}</b></h5>

                <ul id="event_params">
                    <li>
                        {% if event.users.all %}
                            <span class="sub_list_title">Участников:</span> <b>{{ event.users.all }} из {{ event.members_amount }}</b>
                        {% else %}
                            <span class="sub_list_title">Участников:</span> <b>0 из {{ event.members_amount }}</b>
                        {% endif %}
                    </li>
                    <li>
                        <span class="sub_list_title">Возрастная группа:</span> <b>{{ event.age_group }}</b>
                    </li>
                    <li>
                        {% if event.preferred_gender %}
                        <span class="sub_list_title">Предпочтительный гендер:</span> <b>{{ event.preferred_gender }}</b>
                        {% else %}
                            <span class="sub_list_title">Предпочтительный гендер:</span> <b>любой</b>
                        {% endif %}
                    </li>
                    <li>
                        <span class="sub_list_title">Субкультура:</span> <b>{{ event.subculture }}</b>
                    </li>
                    <li>
                        <span class="sub_list_title">Музыка:</span> {{ event.music_genre }}
                    </li>
                    <li>
                        <span class="sub_list_title">Бюджет:</span> <b>{{ event.budget }} рублей</b>
                    </li>
                </ul>
                {% if event.tags.all %}
                    <ul class="list-inline">
                        {% for tag in event.tags.all %}
                            <li class="list-inline-item">{{ tag }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <hr>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <hr>
    <h5 style="text-align:center;">Пока нет мероприятий ☹️</h5>
{% endif %}